/* Formatação dos Textos */
.text {
  font-family: var(--text);
  font-size: var(--text-size);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--dark);
}

.title {
    color: var(--primary);
    font-family: var(--title);
    font-size: var(--title-size);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.5px;
    
}

/* Formatação dos Botões */
.btn {
  color: var(--primary);
  font-family: var(--text);
  font-size: var(--text-size);
  font-weight: 500;
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--primary);
    color: var(--light);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  }
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  
  &:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--primary);
  }
}

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
  
  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
  }
}

.flex {
  display: flex;
  gap: 20px;
}