html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--dark);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
}

nav ul {
    justify-content: center;

    li {
        list-style: none;
        a {
            color: var(--light);
            font-family: var(--text);
            font-size: var(--text-size);
            text-decoration: none;
            padding: 20px 15px;
            display: inline-block;
            transition: all .5s ease;
        
            &:hover {
                color: var(--primary);
            }
        }
    }
}

#banner {
    background-image: url('../images/Mount\ Fuji.jpg');
    height: 100vh;
    background-size: cover;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        background-color: #ffffff80;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    * {
        z-index: 1;
    }
}

h1.title {
  font-size: 50px;
  font-weight: 500;
  margin-top: 50px;
}

#food {
    padding: 50px 40px;

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    figure {
        justify-content: space-evenly;
        align-items: center;

        img {
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            height: 400px;
            transition: all .5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

#itinerary {
    background-color: var(--light);
    padding: 50px 40px;
    align-items: center;
    justify-content: space-between;

    h2 {
        margin-bottom: 50px;
    }

    .info {
        width: 59%;

        p {
            margin-bottom: 20px;
            text-align: justify;
        }

        a {
            margin-top: 30px;
        }
    }

    img {
        height: 400px;
        object-fit: contain;
    }
}

footer {
    background-color: var(--dark);
    padding: 30px 0;
    text-align: center;

    .text {
        color: var(--light);
    }
}