.container {
    display: flex;
}

#modelo-1 {
    flex-direction: column;

    /* NOWRAP - Valor padrão */
    flex-wrap: nowrap;

    /* FLEX-START - Valor padrão */
    justify-content: flex-start;
}

#modelo-2 {
    /* ROW - Valor padrão */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#modelo-3 {
    flex-direction: row-reverse;
    /* flex-direction: column-reverse; */
    justify-content: center;
}

#modelo-4 {
    /* justify-content: space-between; */
    /* BETWEEN - Espaçamento baseado nas extremidades */

    /* justify-content: space-around; */
    /* AROUND - Espaçamento central é maior que das extremidades */
    justify-content: space-evenly;
    /* EVENLY - Espaçamento igual entre os itens e as margens externas*/
}

#modelo-5 {
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;
}