@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', sans-serif;
}

.livro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pedido {
    background-color: #e6d6c1;
    padding: 30px 60px;
    width: 30%;

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.presente {
    border-top: 1px dotted #793f1d;
    border-bottom: 1px dotted #793f1d;
    padding-bottom: 20px;

    h4 {
        margin-bottom: 10px;
    }
}

input, select, textarea {
    background-color: #f8eee2;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    transition: all .5s ease-in-out;
    color: #793f1d;
    font-family: Roboto, Calibri, cursive;
    resize: none;
}

input[type="submit"] {
    background-color: #793f1d;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: fit-content;
    padding: 10px 30px;
    margin: 0 0 0 auto;
    transition: background-color 0.5s ease-in-out;
}

.modelo {
    width: 50%;
    padding: 30px 60px;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    gap: 40px;
    text-align: justify;
    font-size: 24px;
    text-indent: 40px;

    img {
        border-radius: 35px;
        height: 450px;
    }
}

.ranking {
    background-color: #fadab1;
    padding: 30px 60px;
    text-align: center;
    
    ol {
        width: fit-content;
        margin: 0 auto;
        font-size: 18px;
        text-align: left;

        li {
            margin-bottom: 10px;
        }
    }
}